body {
    width: auto;
    margin: 15px 50px 50px 50px;
    font-family: "Raleway",sans-serif;
    font-weight: 350;
    font-size: 16px;
    line-height: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li a{ 
    padding: 25px;
}

nav li a:hover{
    color: #0065FC;
    box-sizing: border-box;
    border-top: 2px #0065FC solid;
    padding-top: 48px; /* solution un peu bancale... l'éspacement total est maintenant de 48px au lieu de 50 */
}

.inscription {
    font-weight: bold;
    color: #0065FC;
}

/* end of header */

.search {
    display: flex;
    justify-content:space-between;
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    width: 420px;
    height: 50px;
}


.fa-map-marker-alt {
    padding: 18px;
    background-color: #F2F2F2;
    box-sizing: content-box;
    border-radius: 15px;
}

.spcrch {
    flex: 2;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 18px;
}

.btn {
    padding: 18px;
    background-color: #0065FC;
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;

}

/* END OF search bar*/

.criteres {
    display: flex;
    align-items: center;
}

.t2 {
    font-weight: 600;
    margin: 12px;
}

.filtres {
    display: flex;
    align-items: center;
    margin: 12px;
    border: 2px #D9D9D9 solid;
    border-radius: 30px;
    width: auto;
    height: 50px;
}

.fas {
    display: inline-block;
    background: #DEEBFF;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 18px;

}

.filtres p {
    margin: 22px;
}