* {
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    font-family: "Raleway",sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.corp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px 15px 50px;
}

h2 { 
    font-size: 22px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
}

h4{
    font-size: 18px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065FC;
}

/*---------------------------- header beginning ----------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 0px 50px;
}

nav {
    display: flex;
    align-items: baseline;
}


nav ul{
    display: flex;
    list-style-type: none;
}

nav li a, .inscription{ 
    padding: 25px;
    font-weight: 300;
}

.inscription {
    font-size: 16px;
}

header nav li a:hover{
    box-sizing: border-box;
    border-top: 2px #0065FC solid;
    padding-top: 50px;
}

nav li h2 a{
    text-decoration: none;
    font-size: 16px;
}

.inscription {
    font-weight: bold;
    color: #0065FC;

}

/*---------------------------- end of header ----------------------------*/

#recherche {
    width: 100%;
}

.soustitre h2, .soustitre p {
    margin: 10px;
}

.search {
    display: flex;
    justify-content:space-between;
    border: 1px #F2F2F2 solid;
    border-radius: 25px;
    width: 420px;
    height: 50px;
    margin-top: 20px;
}


.fa-map-marker-alt {
    padding: 18px;
    background-color: #F2F2F2;
    box-sizing: content-box;
    border-radius: 15px 0px 0px 15px;
}

.spcrch {
    flex: 2;
    max-width: 50%;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 18px;
}

.btn {
    padding: 18px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    transition: 0.5s;
}

.btn:hover{
    background-color: #0045ac;
    color: white;
    transition: 0.5s;
}

.btn i{
    font-style: normal;
}
/*---------------------------- END OF search bar ----------------------------*/

.criteres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.t2 {
    font-weight: 600;
    margin: 12px;
}

.criteres {
    margin-top: 20px;
}

.filtres {
    display: flex;;
    align-items: center;
    margin: 12px;
    box-sizing: border-box;
    border: 2px #D9D9D9 solid;
    border-radius: 30px;
    width: auto;
    height: 50px;
}

.filtres .fas {
    display: flex;
    position: relative;
    left: -2px;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.filtres .fas:hover {
    box-shadow: 0px 0px 14px rgba(0, 102, 255, 0.644);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


.filtres p {
    margin: 22px;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
}

.info i {
    font-size: 12px;
}

.info .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    box-sizing: border-box;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;  
    margin: 10px;
}

/*---------------------------- end of search zone ----------------------------*/

.hotels {
    display: flex;
    width: 100%;
}

#hebergements {
    display: block;
    box-sizing: border-box;
    padding: 30px;
    flex: 65.33%;
    height: auto;
    background-color:#F2F2F2;
    border-radius: 15px;
    margin-right: 40px;
}

.heberg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column1 {
    display: flex;
    justify-content: space-between;
}

.sqhost {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    height: 200px;
    flex: 33%;
    max-width: 300px;
    min-width: 240px;
    border: 5px white solid;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.219);
    transition: 0.5s;
}

.sqhost img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    border-radius: 13px 13px 0;
}

.sq {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 42%;
    padding: 5px;
    line-height: 5px;
}

.sq p {
    font-size: 14px;
}

.sq i {
    font-size: 12px;
    color: #0065FC;
}


.sqhost:hover {
    color:#0065FC;
    box-shadow: 0px 0px 15px rgba(0, 102, 255, 0.397);
    transition: 0.5s;
    cursor: pointer;
}

#hebergements a {
    display: block;
    font-weight: bold;
    margin: 15px;
}

#hebergements h2 {
    margin: 10px 15px;
}

i.fas.fa-star.inact {
    color: lightgrey;
}
/*---------------------------- end of hebergements ----------------------------*/

#populaires {
    display: block;
    box-sizing: border-box;
    padding: 45px;
    flex: 32.33%;
    height: auto;
    background-color:#F2F2F2;
    border-radius: 15px;
    padding: 30px 25px 30px 25px;
}

#populaires h2{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.hostingsup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hosting {
    position: relative;
    box-sizing: border-box;
    height: 145px;
    min-width: 335px;
    border: 5px white solid;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.219);
    transition: 0.5s;
}

.hosting img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 13px 0px 0px 13px;
}

.hosting:hover{
    color:#0065FC;
    box-shadow: 0px 0px 15px rgba(0, 102, 255, 0.397);
    transition: 0.5s;
    cursor: pointer;
}

.recthost {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    box-sizing: border-box;
    width: 61%;
    height: 100%;
    padding: 0px 15px;
    font-size: 14px;

}

.rechost h2, .recthost p {
    margin: 15px 0px;
}

.recthost i {
        font-size: 12px;
        color: #0065FC;
        margin-top: 15px;
}

/*---------------------------- end of Populaires ----------------------------*/

#activites {
    height: auto;
    padding: 45px 0px 0px 0px;
}

.containeract {
    display: flex;

}

.column2 {
    flex: 25%;
    max-width: 25%;
    padding: 0 20px;
}


.activ{
    border-radius: 15px;
}

.column2 div {
    position: relative;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.219);
    transition: 0.5s;
}

.column2 div figcaption {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    border-radius: 0px 0px 15px 15px;
}

.column2 div:hover{
    color:#0065FC;
    box-shadow: 0px 0px 15px rgba(0, 102, 255, 0.397);
    transition: 0.5s;
    cursor: pointer;
}

.activ.act1{
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.activ.act2{
    object-fit: cover;
    width: 100%;
    height: 240px;
}

.activ.act3{
    object-fit: cover;
    width: 100%;
    height: 170px;
}

.activ.act4{
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.activ.act5{
    object-fit: cover;
    width: 100%;
    height: 170px;
}

.activ.act6 {
    object-fit: cover;
    width: 100%;
    height: 240px;
}

/*---------------------------- end of activités ----------------------------*/

footer {
    display: flex;
    width: auto;
    height: auto;
    background-color: #F2F2F2;
    padding: 45px 50px 45px 50px;
}

.foot {
    display: block;
    width: 33.33%;
    text-align: left;
    
}

.foot ul{
    display: block;
    padding-left: 0;
}

.foot ul li{
    list-style-type: none;
    padding-bottom: 20px;
}

/*---------------------------- end of desktop version ----------------------------*/

@media (max-width: 1400px) {

    .criteres {
        justify-content: space-around;
    }

    .hotels {
        flex-wrap: wrap;
    }
    #hebergements {
        width: 100%;
        flex-wrap: wrap;
        margin-right: 0;
    }
    

    #populaires {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
    }

    .hosting {
        min-width: 277px;
        max-width: 380px;
    }

    footer {
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    .foot { 
        width: auto;
}

}

/*---------------------------- End of small desktop ----------------------------*/

@media screen and (min-width: 667px) and (max-width: 768px) {
    
    #populaires, #hebergements {
        flex: 100%;

    }

    .hotels {
        width: 100%;
    }
    .heberg {
        flex-direction: row;
    }

    .column1 {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .sqhost {
        min-width: 220px;
    }

    .containeract {
        flex-wrap: wrap;
    }

    .column2 {
        flex: 50%;
        max-width: 50%;
    }

    .foot {
        margin: 0px 30px;
    }
    

}

/*---------------------------- End of ipad and iphone in landscape orientation ----------------------------*/

@media screen and (max-width: 666px) {

    header {
        display: none;
    }

    .corp {
        margin: 0;
    }

    #recherche {
        padding: 0px 18px;
    }

    .btn::before {
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        display: inline-block;
    }
    
    .btn i {
        display: none;
    }

    .spcrch {
        width: 50%;
    }

    .search {
        width: 100%;
    }

    /* replaced text with icon in search bar*/

    .t2 {
        width: 100%;
    }

    .criteres {
        justify-content: left;
    }

    .filtres {
        margin: 5px;
        height: 45px;

    }

    .filtres .fas {
        height: 45px;
        width: 45px;
    }

    .filtres p {
        margin: 12px;
        font-size: 12px;
    }

    p.info {
        align-items: flex-start;
    }

    .fas.fa-info {
        font-size: 10px;
        width: 23px;
        height: 20px;
        margin: 0px 10px;
    }

    /* Hebergement Zone start */

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    h3, h4 {
        font-size: 16px;
    }

    #hebergements{
        order: 1;
        background-color: #ffffff;
    }

    #hebergements, #populaires {
        flex: 100%;
        border-radius: 0px;
        padding: 30px 15px;
    }
    
    #populaires {
        margin-top: 20px !important;
    }

    #hebergements h2, #populaires h2{
        margin: 15px 0px;
    }

    .heberg, .hostingsup {
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .column1 {
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    .sqhost, .hosting {
        margin: 5px 0px;
        width: 100% !important;
        max-width: none;
    }

    .sqhost {
        height: 175px;
        font-size: 12px;
    }

    .sq {
        height: auto;
    }

    .sq p{
        font-size: 12px;
    }

    .hosting {
        height: 130px;
        min-width: 300px;
    }

    .recthost {
        width: 180px;
        font-size: 12px;
    }

    .recthost h3, .sqhost h3 {
        font-size: 14px;
    }

    .recthost h3, .recthost p, .rating{
        margin: 15px, 10px;
    }

    i.fas.fa-star {
        font-size: 10px;
        margin-top: 0px;
    } 

    /* Activité Zone start */

    #activites {
        padding: 20px 15px;
    }
    #activites h2 {
        margin: 20px;
    }

    .containeract {
        flex-wrap: wrap;
    }

    .column2 {
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }

    .column2 div {
        margin-bottom: 20px;
    }

    .activ {
        height: 170px !important;
        width: 100%;
    }

    .column2 div figcaption {
        height: 50px;
        padding: 0px, 5px !important;
    }

    figcaption h3 {
        font-size: 14px;
    }

    /* footer */

    footer {
        flex-direction: column;
        padding: 30px;
    }

    .foot ul li {
        padding-bottom: 10px;
        font-size: 14px;
    }

    /*problem with iphone 5 size: something wrong with width. However the mockup width is set on iphone 5 size, 
    but mentor said to keep iphone 8 as reference. Ask for more infos at next meeting.*/
    

}